<div
  class="hero min-h-screen bg-fixed bg-cover bg-center"
  style="background-image: url(<%= image_path('top_image.png') %>);">
  <div class="hero-overlay" style="background-color: rgba(254, 249, 195, 0.3);"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-4xl font-bold">感謝を編もう</h1>
      <p class="text-sm text-gray-800 mb-5">
        同じコミュニティ内で「感謝の気持ち」を表現し、相手が喜ぶ画像をAIで生成してプレゼントするサービスです。<br>
        ユーザーは、感謝メッセージを3回送信するごとに「ニット系アイテム」を獲得できます。アイテムはコレクションとして収集したり、他のユーザーに贈って感謝の循環を楽しむこともできます。
      </p>
      <div>
        <button class="btn btn-secondary"><%= link_to t('header.board_index'), boards_path %></button>
      </div>
    </div>
  </div>
</div>
