<% content_for(:title, "使い方ガイド") %>
<div class="flex flex-col min-h-screen justify-center items-center px-10">
  <!-- プライバシーポリシーのタイトルを中央に配置 -->
  <h1 class="text-3xl font-bold my-20 text-center">使い方ガイド</h1>
  <div class="text-zinc-500 text-xs mt-3 mb-10">
    <p>横にスクロールできます→<p>
  </div>
  <div class="carousel rounded-box w-full max-w-full mb-10">
    <div class="carousel-item pr-4 text-left flex-shrink-0">
      <div class="card bg-yellow-100 w-full max-w-xs mx-auto flex-shrink-0">
        <div class="card-body justify-center items-center">
          <h3 class="font-bold text-zinc-500 mb-3">感謝状一覧</h3>
          <p class="text-xs text-zinc-500 mb-3">みんなのそれぞれの感謝と相手を思って作られたニットの画像が閲覧できます。</p>
          <a href="https://gyazo.com/368f70d9a9c9aa7e37122c29563d953e"><video width="490" autoplay muted loop playsinline controls><source src="https://i.gyazo.com/368f70d9a9c9aa7e37122c29563d953e.mp4" type="video/mp4"/></video></a>
        </div>
      </div>
    </div>
    <div class="carousel-item pr-4 text-left  flex-shrink-0">
      <div class="card bg-yellow-100 w-full max-w-xs mx-auto flex-shrink-0">
        <div class="card-body justify-center items-center">
          <h3 class="font-bold text-zinc-500 mb-3">感謝状作成</h3>
          <p class="text-xs text-zinc-500 mb-3">1ヶ月に2回、感謝のメッセージとニットの画像作成の感謝状作成ができます。<br>
          感謝状作成でテキスト入力後に登録ボタンを押すと、次は画像生成ページにアクセスします。</p>
          <a href="https://gyazo.com/e8287ad452d4158071c87352fa0a1d36"><img src="https://i.gyazo.com/e8287ad452d4158071c87352fa0a1d36.gif" alt="Image from Gyazo" width="490"/></a>
        </div>
      </div>
    </div>
    <div class="carousel-item pr-4 text-left flex-shrink-0">
      <div class="card bg-yellow-100 w-full max-w-xs mx-auto flex-shrink-0">
        <div class="card-body justify-center items-center">
          <h3 class="font-bold text-zinc-500 mb-3">画像生成</h3>
          <p class="text-xs text-zinc-500 mb-3">キーワードをもとに画像を最大2枚生成できます。<br>
          ラジオボタンで一つだけ選択し、感謝状作成ボタンをクリックすると、画像付きの感謝状が投稿できます。</p>
          <a href="https://gyazo.com/560cd2f93a2e125f7094e723ed8eec0b"><img src="https://i.gyazo.com/560cd2f93a2e125f7094e723ed8eec0b.gif" alt="Image from Gyazo" width="490"/></a>
        </div>
      </div>
    </div>
    <div class="carousel-item pr-4 text-left flex-shrink-0">
      <div class="card bg-yellow-100 w-full max-w-xs mx-auto flex-shrink-0">
        <div class="card-body justify-center items-center">
          <h3 class="font-bold text-zinc-500 mb-3">感謝状詳細</h3>
          <p class="text-xs text-zinc-500 mb-3">感謝状をXでシェアできます。<br>
          ご自身の設定によってお相手へのリプライとして送ることも、誰に送ったのか伏せたままツイートすることも可能です。<br>
          また、感謝状の編集やコメントの追加もできます。</p>
          <a href="https://gyazo.com/bd44be424fb6bfa3ea7a49bc86f13c9b"><img src="https://i.gyazo.com/bd44be424fb6bfa3ea7a49bc86f13c9b.gif" alt="Image from Gyazo" width="490"/></a>
        </div>
      </div>
    </div>
    <div class="carousel-item pr-4 text-left flex-shrink-0">
      <div class="card bg-yellow-100 w-full max-w-xs mx-auto flex-shrink-0">
        <div class="card-body justify-center items-center">
          <h3 class="font-bold text-zinc-500 mb-3">アイテム一覧</h3>
          <p class="text-xs text-zinc-500 mb-3">感謝状を3つ投稿すると、1つアイテムを獲得できます。<br>
          獲得したアイテムは、アイテム一覧と「とある場所」で見ることができます。</p>
          <a href="https://gyazo.com/d48ceeb9fed887f4e0d7900cafea06f7"><img src="https://i.gyazo.com/d48ceeb9fed887f4e0d7900cafea06f7.png" alt="Image from Gyazo" width="490"/></a>
        </div>
      </div>
    </div>
  </div>
</div>