<div class="container">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <ul class="list-inline">
	    <li class="list-inline-item"><%= render @board %></li>
    </ul>
  </div>
</div>
<div class="row">
	<div class="col-lg-8 offset-lg-2">
	  <table class="table">
	    <tbody id="table-comment">
	      <%= render @comments %>
      </tbody>
    </table>
  </div>
</div>