<header>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">あむ編むコミュ！</a>
    </div>
    <div class="flex-none gap-2">
      <div class="form-control" style="margin-left: 1rem;">
        <%= link_to t('header.login'), login_path %>
      </div>
    </div>
  </div>
</header>