<header>
  <div class="navbar bg-base-50">
    <div class="flex-1">
      <a><%= link_to "あむ編むコミュ！", root_path, class: "btn btn-ghost text-xl gray-900" %></a>
    </div>
    <div class="flex-none gap-2">
      <div class="form-control" style="margin-left: 1rem;">
        <%= link_to t('header.login'), login_path %>
      </div>
    </div>
  </div>
</header>