<% content_for(:title, t('boards.edit.title')) %>
<div class="container mx-auto">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"><%= t('.title') %></h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-80 lg:max-w-3xl">
      <%= render 'form', board: @board %>
    </div>
  </div>
</div>